In [1]:
import pandas as pd
import os

In [5]:
train = pd.read_csv('planet-understanding-the-amazon-from-space/train_v2.csv/train_v2.csv')
test = pd.read_csv('planet-understanding-the-amazon-from-space/test_v2_file_mapping.csv/test_v2_file_mapping.csv')

In [7]:
display(train.head(), test.head())

  image_name                                       tags
0    train_0                               haze primary
1    train_1            agriculture clear primary water
2    train_2                              clear primary
3    train_3                              clear primary
4    train_4  agriculture clear habitation primary road

              old             new
0   file_4158.tif  file_18830.tif
1   file_1668.tif  file_19164.tif
2   file_2411.tif  file_15749.tif
3  file_16047.tif   file_7531.tif
4   file_1271.tif  file_18347.tif

In [2]:
#CANT IMPORT THE FULL DATA